{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">

        <h1>Kaneki y Touka</h1>
        <p>KEVIN ERES UN CACHON</p>

    </div>
    <div class="col-4">
        <img src="assets/img/017.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}